@import url('https://fonts.googleapis.com/css2?family=Coming+Soon&family=M+PLUS+Rounded+1c:wght@300;400;500;800&family=Spicy+Rice&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'M PLUS Rounded 1c';
}
html{
    scroll-behavior: smooth;
}


/* SECCION INICIO*/
.inicio{
    background: linear-gradient(to left, #01844b, #0c5563); 
    height: 110vh;
    padding: 0 60px;
}
.inicio .contenido{
    max-width: 1100px;
    margin: auto;
    color: #fff;
}
.inicio header{
    display: flex;
    justify-content: space-between;
    padding: 30px 0;
    align-items: center;
} 
.inicio .logo{
    display: flex;
    align-items: center;
    color: #777e08;
    font-size: 25px;
}
.inicio .logo i{
    display: inline-block;
    margin-right: 20px;
}
#inicio header nav a{
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 5px 10px;
    text-transform: uppercase;
    border: 2px solid transparent;
}
#inicio header nav a:hover{
    border-bottom: 2px solid #161b4f;
}
.inicio .redes a{
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 0 10px;
}
.inicio .redes a:hover {
    color: #ff5b00;
}
.inicio .fila{
    display: flex;
    margin-top: 50px;
    padding-bottom: 100px;
}
.inicio .fila .col{
    width: 50%;
}
.inicio .fila .col h2{
    margin-bottom: 15px;
    font-size: 30px;
}
.inicio .fila .col p{
    margin-bottom: 20px;

}
.inicio .fila .col .contenedor-img{
    max-width: 400px;
    margin:auto;
}

.inicio .fila .col .contenedor-img{
    width: 100px;
    margin-top: -100px;
    cursor: pointer;
}
.contenedor-img .oculta{
    display: none;

}
.inicio .fila .col button{
    background: none;
    width: fit-content;
    padding:  5px 40px;
    border: 2px solid #c16a19;
    color: #fff;
    background: linear-gradient(to right, #c16a19, #b8c46c );
    transition: .5s;
    cursor: pointer;
}
.inicio .fila .col button:hover{
    transform: scale(1.1);
}
#icono-nav{
    height: 30px;
    width: 30px;
    text-align: center;
    line-height: 30px;
    border-radius: 50%;
    transition: .3s;
    cursor: pointer;
    display: none;
}
#icono-nav:hover{
    background-color: #363b80;
}
.sombra{
    filter: drop-shadow(0em 30px 20px #98b0ed);
}
.oculto {
    display: none;
    position: absolute;
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
}

#imagen {
    cursor: pointer;
}


/*Seccion ESTUDIOS*/

.estudios{
    max-width: 1100px;
    margin: auto;
    padding: 0 20px;
    position: relative;
    top: -170px;
}
.estudios .fila{
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
    margin-top: 76px;
}
.estudios .fila .col{
    text-align: center;
    width: 30%;
}
.estudios .fila .col .card{
    border: 1px solid #b8c46c;
    height: 400px;
    background-color: #fff;
    padding: 30px;
    border-radius: 20px;
    position: relative;
}
.estudios .icono{
    width: 60px;
    height: 60px;
    margin: auto;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px;
}
.estudios .icono .circulo{
    width: 92%;
    height: 90%;
    border-radius: 50px;
    border: 3px solid #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    font-size: 20px;
}
.color1{
    background: linear-gradient(#161b4f, #98b0ed);
}
.color2{
    background: linear-gradient(#a60b0b, #f79250);
}
.color3{
    background: linear-gradient(#053711, #65d34f);
}
.estudios h3{
    margin-bottom: 20px;
}
.estudios .card p{
    color: #161b4f;
    line-height: 28px;
    font-size: 13px;
}
.estudios .card a{
    text-decoration: none;
    color: #008cff;
    position: absolute;
    bottom: 20px;
    left: 40%;
    transform: translate(-50);
}

/* seccion HABILIDADES */
.habilidades{
    background: linear-gradient(to right, #130b86, #49476d);
    color: #fff;
    padding: 60px 0;
    position: relative;
    top: -100px;
}
.habilidades h2{
    text-align: center;
}
.habilidades .contenedor-habi{
    max-width: 1100px;
    margin: auto;
}
.habilidades .fila{
    display: flex;
    justify-content: space-around;
}
.score{
    padding: 10px;
    margin: auto 0;
}
.score .box{
    width: 100%;
}
.score .box h2{
    display: block;
    text-align: center;
}
.score .box .chart{
    position: relative;
    width: 160px;
    height: 160px;
    margin: auto;
    line-height: 160px;
    font-size: 40px;
    text-align: center;
}

/*Esto se genera dinamicamente por la libreria para graficos*/
.score .box canvas{
    position: absolute;
    top: 0;
    left: 0;
}







